.audio-setting-section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.audio-setting-section__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
