.tablet {
  --tablet-max-width: calc(100% - 32px);

  position: relative;
  width: var(--tablet-max-width);
  max-width: var(--tablet-max-width);
  height: var(--tablet-max-width);
  max-height: var(--tablet-max-width);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
